[Unit]
Description=uWSGI instance to serve qytang
After=network.target

[Service]
User=root
ExecStart=/usr/bin/bash -c 'cd /aws_flask/; uwsgi --ini /aws_flask/app.ini'

[Install]
WantedBy=multi-user.target